.page-proposal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--greenLine);
}

.title {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 0%;
}
.subtitle {
}
.high-title {
  font-weight: 700;
  font-size: 20px;
  font-weight: bold;
  color: var(--green);
  margin-bottom: 20px;
}

high-title .cards {
  position: relative;
  width: 1050px;
  height: 463px;
  background-color: var(--green);
}
.back-1 {
  position: absolute;
  width: 1050px;
  height: 463px;

  background: #dff3e6;

  border-radius: 30px;
  transform: rotate(8deg);
  z-index: 1;
}
.back-2 {
  position: absolute;

  width: 1011px;
  height: 402px;

  top: 15px;
  left: 26px;

  background: #cdeedd;

  border-radius: 30px;

  transform: rotate(-11deg);
  z-index: 2;
}

.main {
  position: absolute;

  width: 1024px;
  height: 471px;

  top: 61px;
  left: 50px;

  background: white;

  border-radius: 30px;

  z-index: 3;

  padding: 40px;
}
