/* mobile first */
@media (min-width: 375px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1280px) {
}

:root {
  /* color */
  --linear-gradient: linear-gradient(#000000);
  --black-text: #121417;
  --green: #4dc274;
  --greenLine: linear-gradient(180deg, #4dc274, #bee8cc);
  --light-green: #d4fde1;
  --grey: #f3f5f6;
  --white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Manrope, sans-serif;
  color: var(--black-text);
  background-color: var(--white);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

/* HEADER */

/* HERO */

/* ABOUT */

/* LESSONS */

/* APPLICATION */

/* FOOTER */

/* PROPOCAL */

/* REVIEWS */

/* TEACHERS */
